<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @drama.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @drama.description %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @drama.episode %>
</p>

<p>
  <strong>Director:</strong>
  <%= @drama.director %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @drama.actor %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @drama.rating %>
</p>

<%= link_to 'Edit', edit_drama_path(@drama) %> |
<%= link_to 'Back', dramas_path %>
