
<div class="panel panel-default">
  <div class="panel panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @drama.image.url(:medium) %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @drama.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @drama.description %></td>
              </tr>
              <tr>
                <td><strong>Episodes:</strong></td>
                <td><%= @drama.episode %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @drama.director %></td>
              </tr>
              <tr>
                <td><strong>Actors:</strong></td>
                <td><%= @drama.actor %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_drama_path(@drama), class: "btn btn-default" %>
<% end %>